[Unit]
Description=NullDM
After=systemd-user-sessions.service

[Service]
ExecStart=/usr/bin/nulldm
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
Restart=always
Type=idle
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes

[Install]
Alias=display-manager.service